body {
  background-color : white;
  /*background: url(./img/food.png);*/
  background-attachment: fixed;
}
/*navbar*/
.colored {
  background: rgba(6,6,6, 0.90);
  transition: .75s;
}
.transparent { 
  background: rgba(6,6,6, 0.35);
  transition:  .75s;

}
footer {
  background-color: rgba(6, 6, 6, 0.986);

}
/* carrousel */
#carrouselWidth {
  padding-right: 0px;
  padding-left: 0px;

}
#section1 img {
    max-width: 100%;
    max-height: 100%;
}
/*cards*/
.card { 
  height: 450px;
}
.box-shadow {
    -webkit-box-shadow: 0 1px 1px rgba(72,78,85,.6);
    box-shadow: 0 1px 1px rgba(72,78,85,.6);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.box-shadow:hover {
    -webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
    box-shadow: 0 20px 40px rgba(72,78,85,.6);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
}
/* button 6 */
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-6 {
  background: #228dff;
  background: #228dff;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
 box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btn-6:hover{
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}
.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btn-6 span:hover:before {
  width: 100%;
}
.btn-6 span:hover:after {
  width: 100%;
}

/* button 12 */
/* .btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
} */

/*text logo*/
.oro {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gold {
  color: #cfc09f;
  font-family: 'Press Start 2P';
  position: relative;
  text-transform: uppercase;
  font-size: 4vh;
  margin: 0;
  font-weight: 400;
  transform: scale(1);
  text-shadow: -1px 0 1px #c6bb9f, 0 1px 1px #c6bb9f, 5px 5px 10px rgba(0, 0, 0, 0.4), -5px -5px 10px rgba(0, 0, 0, 0.4);
}
.gold:before {
  content: attr(data-heading);
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  background: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}
body, html {
  height: 100%;
}

/*paralax*/
.parallax {
  background-image: url("./img/patrick-tomasso-GXXYkSwndP4-unsplash.jpg");
  position: relative;
  /* Full height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
.container2 .content {
  position: absolute; /* Position the background text */
  bottom: 20%; /* At the bottom. Use top:0 to append it to the top */
  text-align: right;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.0); /* Black background with 0.5 opacity */
  color: rgba(0, 0, 0, 0); /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  transition: 1.5s;
}
.container2 .content > h1 {
  font-family: Iceland;
  font-size: 55px;
  font-weight: 900;
  text-shadow: 1px 0 1px #c6bb9f, 0 1px 1px #c6bb9f, 5px 5px 10px rgba(0, 0, 0, 0.4), -5px -5px 10px rgba(0, 0, 0, 0.4);

}
.container2:hover .content {
  transform: translate(-1000px);
  color:yellow;
  background: rgba(6,6,6, 0.35);
  
}
/* paralax3 */
.parallax2 {
  background-image: url("./img/splendid-table-beer-glasses.jpeg");
  position: relative;
  /* Full height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
  .parallax2 {
    background-attachment: scroll;
  }
}
.container3 .content3 {
  position: absolute; /* Position the background text */
  bottom: 20%; /* At the bottom. Use top:0 to append it to the top */
  text-align: left;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.0); /* Black background with 0.5 opacity */
  color: rgba(0, 0, 0, 0); /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  transition: 1.5s;
}
.container3 .content3 > h1 {
  font-family: Iceland;
  font-size: 55px;
  font-weight: 900;
  text-shadow: 1px 0 1px #c6bb9f, 0 1px 1px #c6bb9f, 5px 5px 10px rgba(0, 0, 0, 0.4), -5px -5px 10px rgba(0, 0, 0, 0.4);

}
.container3:hover .content3 {
  transform: translate(1100px);
  color:yellow;
  background: rgba(6,6,6, 0.35);
  
}


/* image menu scale */
.vanishTrigger:hover > div > img {
  transform: scale(1.2);
  transition: all 0.5s;

}

 
  
/* slider text */
/* .sliderText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #fc0;
}
@keyframes cursor {
  from, to {
    border-color: transparent;
 }
  50% {
    border-color: black;
 }
}
@keyframes typing {
  from {
    width: 100%;
 }
  90%, to {
    width: 0;
 }
}
@keyframes slide {
  33.3333333333% {
    font-size: 3rem;
    letter-spacing: 3px;
 }
  to {
    font-size: 0;
    letter-spacing: 0;
 }
}
.typing-slider {
  font-family: Consolas, monospace;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
.typing-slider p {
  position: relative;
  display: inline;
  font-size: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  animation: slide 15s step-start infinite;
}
.typing-slider p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 3px solid black;
  background-color: #fc0;
  animation: typing 5s infinite, cursor 1s infinite;
}
.typing-slider p:nth-child(1) {
  animation-delay: 0s;
}
.typing-slider p:nth-child(1)::after {
  animation-delay: 0s;
  animation-timing-function: steps(16), step-end;
}
.typing-slider p:nth-child(2) {
  animation-delay: 5s;
}
.typing-slider p:nth-child(2)::after {
  animation-delay: 5s;
  animation-timing-function: steps(23), step-end;
}
.typing-slider p:nth-child(3) {
  animation-delay: 10s;
}
.typing-slider p:nth-child(3)::after {
  animation-delay: 10s;
  animation-timing-function: steps(23), step-end;
}
.typing-slider p:nth-child(4) {
  animation-delay: 15s;
}
.typing-slider p:nth-child(4)::after {
  animation-delay: 15s;
  animation-timing-function: steps(12), step-end;
} */


/* nav menu */
/*glow*/
.glow > p {
  text-align: right;
  font-size: 5vh;
  margin: 20px 0 20px 0;
}

.glow > a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.glow > p:nth-child(1) a {
  font-size: 80%;
  color: #228dff;
  font-family: Pacifico/*Londrina Outline*/;
  text-decoration: none;
}

.glow > p:nth-child(1) a:hover {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  color: rgb(248, 7, 7);
}
.glow > p a:hover {
  color: #ffffff;
}
/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}
/*REEEEEEEEEEESPONSIVE*/

@media (max-width: 650px) {
  #glow {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}
 
/********** destacado************** */
@import url(https://fonts.googleapis.com/css?family=Kanit:700,300);

@import url(https://fonts.googleapis.com/css?family=EB+Garamond);



.destacado a {
  text-decoration: none;  
  color: #446CB3;
  margin: 0px 5px;
}

.avery {
  float: left;
  height: 500px;
  width: 355px;
  margin: 0px 90px 50px 0px;
  background-color: #f9cc33;
}

.avery img {
  margin-left: 114px;
  height: 350px;
  /* width: 350px; */
}

.destacado{
  max-width: 100%;
}

.credit {
  position: absolute;
  /* top: 0; */
  left: 13;
  font-family: Pacifico;  
  font-size: 1.8em;
  font-weight: 300;
  color: #228dff;
  line-height: 1.5em;
  margin: 510px 50px;
}

#overlay {
 position: absolute;
 /* top: 0; */
 left: 0;
 margin: 150px 50px 10px 50px;
 z-index: 3;
}





.destacado .text {
  font-family: 'EB Garamond', serif;
  font-size: 1.4em;
  text-align: justify;
  line-height: 1.7em;
  max-width: 1100px;
  margin: 25px 10px 10px ;
}

.destacado .text::first-letter {
  font-family: 'Kanit', sans-serif;
  font-size: 6em;
  font-weight: 700;
  float: left;  
  line-height: 80px; 
  padding: 20px 10px 0px 0px;
}


/* contact form */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

.formControl {
  margin: 50px 0px 50px 0px;
  width: 50vw;
/*   height: 100vh; */
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.contact {
  position: relative;
  width: 450px;
  /* height: 1000px; */
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
  height: 145px;
  width: 145px;
  background: url("./img/logo.png");
  background-position-x: 25%;
  background-position-y: 45%;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

.inputs label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.inputs label {
  margin-bottom: 4px;
}

.inputs label:nth-of-type(2) {
  margin-top: 12px;
}
.inputs label:nth-of-type(3) {
  margin-top: 12px;
}
.inputs label:nth-of-type(4) {
  margin-top: 12px;
}
.inputs label:nth-of-type(5) {
  margin-top: 12px;
}
.inputs label:nth-of-type(6) {
  margin-top: 12px;
}

.inputs input::placeholder {
  color: gray;
}

.inputs input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.inputs button {
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.inputs button:hover {
  box-shadow: none;
}

.inputs a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}

.inputs h1 {
  position: absolute;
  top: 0;
  left: 0;
}
#formSend {
  margin-left: auto;
}
.formSide {
  background-color: #ecf0f3;
  margin: 50px 0px 50px 0px;

}
#formSend {
  color: white;
}
/* social buttons */
#social .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

@charset "UTF-8";

/* .svg-inline--fa {
  vertical-align: -0.200em;
} */

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  /* position: relative; */
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
